<div class="top-hero vs9">
  <h1>cart</h1>
</div>
<div class="container-fluid">
  <div class="row cart-header top-margin">
    <div class="col-md-1"></div>
    <h2 class="col-md-6">product</h2>
    <h3 class="col-md-1">price</h3>
    <h3 class="col-md-1">qty</h3>
    <h3 class="col-md-1">subtotal</h3>
    <h3 class="col-md-1"></h3>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <!-- <ul class="col-md-10"> -->
      <li ng-repeat="item in cart" class="cart-container row">
        <div class="col-md-1"></div>
        <div class="col-md-6 row cart-product">
          <img class="col-md-6 cart-image" ng-src="{{ item.image }}" alt="{{ item.name }}"/>
          <h2 class="cart-item-name col-md-6">{{ item.name }}</h2>
        </div>
        <div class="col-md-1 cart-price">${{ item.price }}</div>
        <h4 class="col-md-1 cart-quantity">{{ item.quantity }}</h4>
        <div class="col-md-1 cart-subtotal">${{ item.subtotal.toFixed(2) }}</div>
        <div ng-click="removeItem(item)" class="col-md-1 cart-remove-item">X</div>
        <div class="col-md-1"></div>
      </li>
    </ul>
  </div>
</div>
