<div class="top-hero vs17">
  <h1>contact</h1>
</div>

<div class="about-container">
  <!-- <div class="input-group">
  <span class="input-group-addon" ng-click="sendMail(mailOptions)" id="sizing-addon2">Send</span>
  <input type="text" class="form-control" ng-model="mailOptions.from" placeholder="email" aria-describedby="sizing-addon2">
  <input type="text" class="form-control" ng-model="mailOptions.text" placeholder="text" aria-describedby="sizing-addon2"> -->
  Question? Inquiry? Email me at <a href="mailto:emilyapeland@gmail.com">emilyapeland@gmail.com</a>
</div>
</div>
