
<div class="hero container-fluid row">
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-5 hero-headline row">
    <h2>we have new items</br>available!</h2>
    <button class="btn btn-default button-hero">check out the shop</button>
  </div>
  <!-- Add in text on L side of hero (likely done with absolute positioning and bootstrap columns) -->
  <div class="col-md-7"></div>
  <div class="container-fluid row">
    <i class=" col-md-4 fa fa-rss-square" aria-hidden="true"></i>
  </div>
</div>
