<div class="top-hero vs31">
  <h1>{{ product.name }}</h1>
</div>
<div class="container-fluid">
  <div class="row top-margin">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <img ng-src="{{ product.image }}" alt="{{ product.name }}" class="productpage-image"/>
    </div>
    <div class="col-md-4 product-name">
      <h1>{{ product.name }}</h1>
      <p class="product-description">
        {{ product.description }}
      </p>
      <div class="price-button row">
        <button class="btn btn-default add-to-cart col-lg-8 col-xs-8" type="button" ng-click="addToCart(product)">add to cart</button>
        <h2 class="product-price col-lg-4 col-xs-4">{{ product.price }}</h2>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

{{ cart }}
